.title {
	font-size: 84px;
}

.jumbo {
	.logo {
		width: 400px;
		height: 250px;
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	    margin-bottom: -100px;
	}
	.links-item {
		margin-right: 10px;
		:hover{
			text-decoration: none;
		}
	}
}